
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Match{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div>
        <label for="level">Level</label>
        <select name="level" id="level">
            {% if request.form['level'] == "0" %}
                <option value="0" selected>0</option>
            {% else %}
                <option value="0">0</option>
            {% endif %}
            {% if request.form['level'] == "1" %}
                <option value="1" selected>1</option>
            {% else %}
                <option value="1">1</option>
            {% endif %}
            {% if request.form['level'] == "2" %}
                <option value="2" selected>2</option>
            {% else %}
                <option value="2">2</option>
            {% endif %}
            {% if request.form['level'] == "3" %}
                <option value="3" selected>3</option>
            {% else %}
                <option value="3">3</option>
            {% endif %}
        </select> 
    </div>

    <div>
        <label for="wplayer_name">White Player Name</label>
        <input name="wplayer_name" id="wplayer_name" value="{{ request.form['wplayer_name'] }}" required>

        <label for="wplayer_ishuman">Human</label>
        {% if request.form['wplayer_ishuman'] == 1 %}
            <input type="checkbox" name="wplayer_ishuman" value="1" checked>
        {% else %}
            <input type="checkbox" name="wplayer_ishuman" value="0">
        {% endif %}
    </div>
    
    <div>
        <label for="bplayer_name">Black Player Name</label>
        <input name="bplayer_name" id="bplayer_name" value="{{ request.form['bplayer_name'] }}" required>

        <label for="bplayer_ishuman">Human</label>
        {% if request.form['bplayer_ishuman'] == 1 %}
            <input type="checkbox" name="bplayer_ishuman" value="1" checked>
        {% else %}
            <input type="checkbox" name="bplayer_ishuman" value="0">
        {% endif %}
    </div>

    <input type="submit" value="Save">
  </form>
{% endblock %}
