
{% extends 'base.html' %}


{% block title %}
  Matches
{% endblock %}


{% block content %}
    <div>
      <h2>Matches</h2>
        {% if g.user %}
          <a href="{{ url_for('match.create') }}">New</a>
          <hr>
        {% endif %}
    </div>

  {% for match in matches %}
    <div class="flex-container">
      <h3>
        Match Id: {{ match['id'] }}
      </h3>
      <p>by {{ match['username'] }} on {{ match['created'].strftime('%Y-%m-%d') }}</p>
    </div>

    <div class="matches">
      <p>
        {% if match['wplayer_ishuman'] == 1 %}
          <span class="fbold">{{ match['wplayer_name'] }}</span>
        {% else %}
          {{ match['wplayer_name'] }}
        {% endif %}

        &nbsp;vs.&nbsp;

        {% if match['bplayer_ishuman'] == 1 %}
          <span class="fbold">{{ match['bplayer_name'] }}</span>
        {% else %}
          {{ match['bplayer_name'] }}
        {% endif %}
      </p>

      <p>Level: {{ match['level'] | maplevel }}</p>

      <p>
        <a href="{{ url_for('match.show', id=match['id']) }}">Play</a>
        {% if g.user['id'] == match['auth_user_id'] %}
          <a href="{{ url_for('match.update', id=match['id']) }}">Edit Settings</a>
        {% endif %}
      </p>
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
