
{% extends 'base.html' %}


{% block title %}
  Edit Match
{% endblock %}


{% block content %}
  <div>
    <h2>Edit Match <span style="font-size: 12px; font-weight: normal;">{{ match['created'] }}</span></h2>
    <hr>
  </div>

  <form method="post">
    <div class="fourcols">
        <label for="level">Level</label>
        <select name="level" id="level">
            {% if match['level'] == 0 %}
                <option value="0" selected>0</option>
            {% else %}
                <option value="0">0</option>
            {% endif %}
            {% if match['level'] == 1 %}
                <option value="1" selected>1</option>
            {% else %}
                <option value="1">1</option>
            {% endif %}
            {% if match['level'] == 2 %}
                <option value="2" selected>2</option>
            {% else %}
                <option value="2">2</option>
            {% endif %}
            {% if match['level'] == 3 %}
                <option value="3" selected>3</option>
            {% else %}
                <option value="3">3</option>
            {% endif %}
        </select> 
        <div></div>
        <div></div>

        <label for="wplayer_name">White Player Name</label>
        <input name="wplayer_name" id="wplayer_name" value="{{ wplayer['name'] }}" required>

        <label for="wplayer_ishuman">Human</label>
        {% if wplayer['ishuman'] == 1 %}
            <input type="checkbox" name="wplayer_ishuman" value="1" checked>
        {% else %}
            <input type="checkbox" name="wplayer_ishuman" value="0">
        {% endif %}

        <label for="bplayer_name">Black Player Name</label>
        <input name="bplayer_name" id="bplayer_name" value="{{ bplayer['name'] }}" required>

        <label for="bplayer_ishuman">Human</label>
        {% if bplayer['ishuman'] == 1 %}
            <input type="checkbox" name="bplayer_ishuman" value="1" checked>
        {% else %}
            <input type="checkbox" name="bplayer_ishuman" value="0">
        {% endif %}
    </div>

    <div>
        <input type="submit" value="Save">
    </div>
  </form>

  <hr>

  <form action="{{ url_for('match.delete', id=match['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
